@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle__bar">
    <form method="post" apiurl="User/ChangePassword" id="frmChangePassword" role="form">
        <div class="form-page-subtitle mt0">
            <h3 style="margin-top:50px">Change Password</h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Old Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="Oldpassword" name="Oldpassword" title="Enter Old Password." autocomplete="off" required />
                    <span toggle="#Oldpassword" class="fa fa-fw field__icon toggle__password fa-eye"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>New Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="Newpassword" name="Newpassword" title="Enter New Password." autocomplete="off" required />
                    <span toggle="#Newpassword" class="fa fa-fw field__icon toggle__password fa-eye"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Confirm Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="Confirmpassword" name="Confirmpassword" title="Enter Confirm Password." autocomplete="off" required />
                    <span toggle="#Confirmpassword" class="fa fa-fw field__icon toggle__password fa-eye"></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group text-right">
            <button type="submit" id="btnChangePassword" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/js/pages/Users/ChangePassword.js" asp-append-version="true"></script>
}
