@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section filters{
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" class="form-control filter-control" colName="FirstName" option-type="input" option-op="Contains" maxlength="50">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input type="text" class="form-control filter-control" colName="LastName" option-type="input" option-op="Contains" maxlength="50">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control filter-control" colName="Email" option-type="input" option-op="Contains" maxlength="50">
    </div>
    <div class="form-group">
        <label>Role</label>
        <select id="DrpRoleId" name="DrpRoleId" class="selectpicker selectpicker__clear--multi w-100 filter-control" mode="Role" title="Select Role" colName="RoleId" option-type="select" multiple="multiple" option-op="InClause" data-live-search="true">
        </select>
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control filter-control" colName="Mobile" option-type="input" option-op="Contains" maxlength="50">
    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control filter-control" colName="UserName" option-type="input" option-op="Contains" maxlength="50">
    </div>
}
<partial name="~/Views/Shared/_MasterNavigation.cshtml" />
<div class="middle__bar middle__bar--has-tab">
    <partial name="~/Views/Shared/_ManageTopDataFilter.cshtml" />
    <table id="tblUser" class="table table-bordered table-striped checkbox__on--hover tasks w-100" role="presentation">
    </table>
</div>
<div class="modal fade" tabindex="-1" id="popmodel" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" id="popmodelcontent">
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/pages/Users/User.js" asp-append-version="true"></script>
}