


<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive permissions-table">
            <table class="table table-striped fixed-table w-100">
                <thead>
                    <tr>
                        <th scope="col">Module</th>
                        <th scope="col">Page</th>
                        <th scope="col">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" id="selectallview" class="chkAll" data="chkView"
                                           value=""><span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                    </span><span>View</span>
                                </label>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" id="selectalladd" class="chkAll" data="chkAdd" value="">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                    </span><span>Add</span>
                                </label>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" id="selectalledit" class="chkAll" data="chkEdit"
                                           value=""><span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                    </span><span>Edit</span>
                                </label>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" id="selectalldelete" class="chkAll" data="chkDelete"
                                           value=""><span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                    </span><span>Delete</span>
                                </label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="Permissiontbl">

                    <tr>
                        <td>
                            <label id="ModuleName"></label>
                        </td>
                        <td>
                            <label id="PageName"></label>
                        </td>
                        <td>
                            <div class="ui checkbox">
                                <label></label>
                                <div class="checkbox-fade fade-in-primary">
                                    <label>
                                        <input type="checkbox" id="viewid"
                                               class="chkView" dataview="view" dataid="i"
                                               data-org-val="1"><span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                        </span><span>Yes</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-secondary" id="btnsavepermission" type="button">
                Save
                Permission
            </button>
        </div>
    </div>
</div>