<div class="top__heading">
    <div class="top__heading--left">
        <div class="top__actions" id="top__actions">
            <div class="mob__hidden--btns">
                <button type="button" class="btn btn-secondary btn-sm hide btn-print">Review All</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-view">View</button>
                <button type="button" class="btn btn-secondary btn-sm hide clissify-files" data-toggle="modal" data-target="#documentUploadPopup">Classify Files</button>
                <button type="button" class="btn btn-secondary btn-sm btn-remove-star hide">Remove from Starred</button>
                <button type="button" class="btn btn-secondary btn-sm btn-restore hide">Restore</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-move">Move</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-download">Download(.zip)</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-Pdf-download">Download(.Pdf)</button>

                <button type="button" class="btn btn-secondary btn-sm hide btn-delete">Delete</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-remove">Remove</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-filedetails">File Details</button>
                <button type="button" class="btn btn-secondary btn-sm hide btn-viewversions">View Versions</button>
            </div>
        </div>
    </div>
    <div class="top__heading--right">
        <div id="grdLstToggle"></div>
    </div>
</div>
<div class="filter__div--wrap">
    <div class="filter__div">
        <span class="float-left filters__text">Active Filters</span>
        <div id="appliedFilter" class="float-left">
        </div>
        <a id="clear__filter" class="float-left clear__filter">Clear All Filters</a>
    </div>
</div>
<hr>
