<div class="tab-wrapper">
    <h6 class="mob__drop--opener"></h6>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="~/Master/DocumentClass" id="tabDocumentClassMenu">Document Class</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/DocumentTypes" id="tabDocumentTypeMenu">Document Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/FinancesCompany" id="tabFinance">Finance Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/InsuranceCompany" id="tabInsurance">Insurance Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/Checklists" id="tabChecklist">Checklist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/Users" id="tabUser">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Master/UserBranchGroup" id="tabUserBranch">Group Mapping</a>
        </li>
    </ul>
</div>