<div class="tab-wrapper">
    <h6 class="mob__drop--opener"></h6>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="~/Setting/SystemSetting" id="tabSysSettingMenu">Setting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Setting/SystemMessage" id="tabSysMessageMenu">System Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Setting/EmailTemplates" id="tabEmailTemplatesMenu">Email Templates</a>
        </li>
    </ul>
</div>